<div id="contenedor" class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-3" th:each="p:${productos}">
            <div class="card">
                <div class="card-header">
                    <h2 th:text="${p.descripcion}"></h2>
                </div>
                <div class="card-body">
                    <div th:text="'S/.' + ${p.precio}" class="fw-bold"></div>
                    <img th:src="${p.imagen}" width="100%" height="300px"/>
                </div>
                <div class="card-footer">
                    <div th:text="${p.descripcion}" class="mb-3"></div>
                    <div class="text-center">
                        <a class="btn btn-custom" th:href="@{/agregar/} + ${p.idprod}">Agregar al carrito
                            <i class="bi bi-cart-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

